body{
    margin:0;
    padding:0;
    background-color:tomato;
}
.wraper{
    position: absolute;
    right:40%;
    top:40%;
    background-color: aquamarine;
}
.view>input{
    width:240px;
    padding:10px 10px;
    font-size: 16px;
}
.btn{
    width:240px;
    padding:10px 0;
}
.button{
    width:50px;
    font-size: 16px;
}
.button-0{
    width:100%;
}